<div>
  <form [formGroup]="rForm">
    <div class="form-container">
      <div class="row columns">
        <h1 style="text-align: center">
          Registration Page
        </h1>
        <label>Name
          <input type="text" formControlName="name1" [(ngModel)]=parentData>
        </label>
        <div class="alert" *ngIf="!rForm.controls['name1'].valid && rForm.controls['name1'].touched">{{ titleAlert }}
        </div>

        <label>Description
          <textarea formControlName="description"></textarea>
        </label>
        <div class="alert" *ngIf="!rForm.controls['description'].valid && rForm.controls['description'].touched">You
          must specify a description that's between 30 and 500 characters.</div>


      </div>
    </div>
  </form>
</div>