<div *ngIf="something; else forminfo">
  <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
    <div class="form-container">
      <div class="row columns">
        <h1 style="text-align: center">
          Login Page
        </h1>
        <label>Name
          <input type="text" formControlName="name" [(ngModel)]="name">
        </label>
        <div class="alert" *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">{{ titleAlert }}
        </div>

        <label>Description
          <textarea formControlName="description"></textarea>
        </label>
        <div class="alert" *ngIf="!rForm.controls['description'].valid && rForm.controls['description'].touched">You
          must specify a description that's between 30 and 500 characters.</div>

        <label for="validate">Minimum of 3 Characters</label>
        <input type="checkbox" name="validate" formControlName="validate" value="1"> On

        <input (click)="handleclick()" type="submit" class="button expanded" value="Submit Form"
          [disabled]="!rForm.valid">
      </div>
    </div>
  </form>
</div>

<ng-template #forminfo>
  <app-registration [parentData]="name"></app-registration>
</ng-template>