<header>
    <div class="container">
        
        <a routerLink="/" class="logo" style="color: white">
            <img src="/assets/logo.png" alt="" style="width: 30px;">
            KeyVertex Technologies
        </a>
        <nav>
            <ul>
                <li><a style="color: white" routerLink="/login"><b>Login</b></a></li>
                <li><a style="color: white" routerLink="/register"><b>Register</b></a></li>
                <li><a style="color: white" routerLink="/contact"><b>contact</b></a></li>
            </ul>
        </nav>
    </div>
</header>


<app-login (loginEvent)="handleNotify($event)">

</app-login>